<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603783555606-dg193do2hksjk35v6qu409dsuekgs2e0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603783555606-dg193do2hksjk35v6qu409dsuekgs2e0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>603783555606-2c5lhesb7fnrcot0f7b0iqvcv4tcbtvd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCVna812BQjG8q9UtmOT5a7mPYoFne43Yw</string>
	<key>GCM_SENDER_ID</key>
	<string>603783555606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.easaccFlutterTask</string>
	<key>PROJECT_ID</key>
	<string>easacc-task-aea3c</string>
	<key>STORAGE_BUCKET</key>
	<string>easacc-task-aea3c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603783555606:ios:e43bcf91bcc2a04d776337</string>
</dict>
</plist>